@font-face {
  font-family: '고마운글꼴';
  src: url('fonts/DungGeunMo.woff2') format('woff2'),
       url('fonts/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
      font-family: '고마운글꼴', sans-serif;
      background-color: #f9f9f9;
      color: #333;
      text-align: center; /* 글자도 중간정렬 */
      padding: 5rem;
      display: flex;
      justify-content: center;  /* 수평 가운데 */
      align-items: center;      /* 수직 가운데 */
      min-height: 100vh;            /* 화면 전체 높이 */
      flex-direction: column;   /* 요소를 위에서 아래로 쌓기 */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 40px;
  background-color: white;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #ddd;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

h1 {
      color: #4b0082;
      font-size: 3rem;
}

p {
      font-size: 1.2rem;
      line-height: 1.6;
}

.highlight {
      color: hotpink;
      font-weight: bold;
}

ul {
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 16px;
      border-radius: 8px;
      width: 300px;
      text-align: center;
}

a {
      color: royalblue;
      text-decoration: none;
}

a:hover {
      text-decoration: underline;
}
