@font-face {
  font-family: '고마운글꼴';
  src: url('fonts/DungGeunMo.woff2') format('woff2'),
       url('fonts/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
      font-family: '고마운글꼴', sans-serif;
      background-color: #f9f9f9;
      color: #333;
      text-align: center;
      padding: 5rem;
}
h1 {
      font-size: 3rem;
      color: #6c63ff;
 }
p {
      font-size: 1.2rem;
}
